In [1]:
# %pip install pandas
# %pip install scikit-learn
# %pip install pycaret
# %pip install mlflow

In [3]:
import pandas  as pd

from sklearn.model_selection import train_test_split
from pycaret.regression import *
from pycaret.classification import *
from pycaret.regression import RegressionExperiment
from sklearn.metrics import log_loss 
# from pycaret.regression import *

In [1]:
seed = 123

In [4]:
# Carrega o dataset e exibe os dados
raw_df = pd.read_csv('../Data/01_raw/kobe_dataset.csv', delimiter=',')
# raw_df = Catalog.load('raw_kobe_dataset')

print('Dados Originais. {} amostras e {} colunas.'.format(raw_df.shape[0], raw_df.shape[1]))

Dados Originais. 30697 amostras e 25 colunas.

In [12]:
list(raw_df.columns.values)

['action_type',
 'combined_shot_type',
 'game_event_id',
 'game_id',
 'lat',
 'loc_x',
 'loc_y',
 'lon',
 'minutes_remaining',
 'period',
 'playoffs',
 'season',
 'seconds_remaining',
 'shot_distance',
 'shot_made_flag',
 'shot_type',
 'shot_zone_area',
 'shot_zone_basic',
 'shot_zone_range',
 'team_id',
 'team_name',
 'game_date',
 'matchup',
 'opponent',
 'shot_id']

In [5]:
raw_df.isnull().sum()

action_type              0
combined_shot_type       0
game_event_id            0
game_id                  0
lat                      0
loc_x                    0
loc_y                    0
lon                      0
minutes_remaining        0
period                   0
playoffs                 0
season                   0
seconds_remaining        0
shot_distance            0
shot_made_flag        5000
shot_type                0
shot_zone_area           0
shot_zone_basic          0
shot_zone_range          0
team_id                  0
team_name                0
game_date                0
matchup                  0
opponent                 0
shot_id                  0
dtype: int64

In [5]:
conformed_df = raw_df.dropna()
print('Dados de trabalho. {} amostras e {} colunas.'.format(conformed_df.shape[0], conformed_df.shape[1]))

Dados de trabalho. 25697 amostras e 25 colunas.

In [6]:
conformed_df = conformed_df.query('shot_type == "2PT Field Goal"')
print('Dados de trabalho. {} amostras e {} colunas.'.format(conformed_df.shape[0], conformed_df.shape[1]))

Dados de trabalho. 20285 amostras e 25 colunas.

In [15]:
list(conformed_df['shot_made_flag'].value_counts().items())

[(0.0, 10602), (1.0, 9683)]

- [x] Observe que há dados faltantes na base de dados! As linhas que possuem dados faltantes devem ser desconsideradas
- [x] Você também irá filtrar os dados onde o valor de shot_type for igual à 2PT Field Goal.
- [x] Ainda, para esse exercício serão apenas consideradas as colunas: 
  - lat
  - lng
  - minutes_remaining
  - period
  - playoffs
  - shot_distance

In [18]:
X = conformed_df[[
    'lat',
    'lon',
    'minutes_remaining',
    'period',
    'playoffs',
    'shot_distance'
]];

y = conformed_df[['shot_made_flag']]

print('Dados de trabalho, {} amostras e {} colunas. Labels, {} amostras.'.format(X.shape[0], X.shape[1], y.shape[0]))

Dados de trabalho, 20285 amostras e 6 colunas. Labels, 20285 amostras.

- [x] Separe os dados em treino (80%) e teste (20 %) usando uma escolha aleatória e estratificada.

In [17]:
train, test, y_train, y_test = train_test_split(X, y, train_size=0.8, random_state=seed, stratify=y)

- [x] Com os dados separados para treinamento, treine um modelo com regressão logística do sklearn usando a biblioteca pyCaret.
- [x] Com os dados separados para treinamento, treine um modelo de classificação do sklearn usando a biblioteca pyCaret.
- [x] Selecione agora os dados da base de dados original onde shot_type for igual à 3PT Field Goal (será uma nova base de dados)
- [] Através da biblioteca requests, aplique o modelo treinado. Pode usar o MLFlow Models?

## Regressão

In [11]:
regression_xp = RegressionExperiment()
regression_xp.setup(data = train,
                    session_id = seed,
                    fold = 10,
                    test_data = test,
                    n_jobs = -2,
                    fold_strategy = 'stratifiedkfold',
                    experiment_name = 'regression_xp',
                    log_experiment='mlflow')
regression_xp.add_metric('logloss', 'Log Loss', log_loss, greater_is_better = False)

Name                                                       Log Loss
Display Name                                               Log Loss
Score Function            <function log_loss at 0x000001A7A9B32680>
Scorer               make_scorer(log_loss, greater_is_better=False)
Target                                                         pred
Args                                                             {}
Greater is Better                                             False
Custom                                                         True
Name: logloss, dtype: object

In [12]:
best_regression = regression_xp.compare_models()

## Classificação

In [13]:
classification_xp = ClassificationExperiment()
classification_xp.setup(
    data = train,
    session_id = seed,
    fold = 10,
    test_data = test,
    n_jobs = -2,
    fold_strategy = 'stratifiedkfold',
    log_experiment='mlflow',
    experiment_name = 'classification_xp')
classification_xp.add_metric('logloss', 'Log Loss', log_loss, greater_is_better = False)

Name                                                       Log Loss
Display Name                                               Log Loss
Score Function            <function log_loss at 0x000001A7A9B32680>
Scorer               make_scorer(log_loss, greater_is_better=False)
Target                                                         pred
Args                                                             {}
Greater is Better                                             False
Multiclass                                                     True
Custom                                                         True
Name: logloss, dtype: object

In [14]:
# exp.add_metric('f1_score_custom', 'Custom F1 Score', f1_score_custom)

In [15]:
best_classification = classification_xp.compare_models()

Verificar se o log loss 0 não é causado pela ausencia do createmodel do exp

In [16]:
# !mlflow ui

In [17]:
classification_xp.save_model(best_classification, 'best_classification_model');

Transformation Pipeline and Model Successfully Saved

In [18]:
# classification_loaded_model = load_model('classification_best_model_pipeline')

In [19]:
# classification_loaded_model = assign_model(classification_loaded_model, custom_metric = {'Log Loss': log_loss_custom, 'F1 Score': f1_score_custom})
# evaluate_model(lr)

---

In [20]:
three_pt_field_goal_df = conformed_df.query('shot_type == "3PT Field Goal"')